<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  <ion-button (click)="pay()">
    Pay via Stripe
  </ion-button>
  </div>
  <ion-card-content>
    <form action="/" method="post" id="payment-form">
      <div class="form-row">
        <div id="card-element"> <!-- a Stripe Element will be inserted here. --> </div>
        <!-- Used to display Element errors -->
        <div id="card-errors" role="alert"></div>
      </div>
      <ion-button type="submit" color="success" expand="full">Make Payment</ion-button>
    </form>
  </ion-card-content>
</ion-content>
